<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Farm</title>
</head>

<body>
    <h1>Add A New Farm</h1>
    <form action="/farms" method="POST">
        <div class="">
            <label for="name">Farm Name</label>
            <input type="text" name="name" id="name" placeholder="Farm Name">
        </div>
        <div class="" style="margin: 10px 0;">
            <label for="city">City</label>
            <input type="text" name="city" id="city" placeholder="City">
        </div>
        </div>
        <div class="">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="Email">
        </div>
        <button style="margin: 10px 0">Save</button>
    </form>
    <form action="/farms">
        <button>Back</button>
    </form>
</body>

</html>