<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>

<body>
    <h2 style="color: rgb(61, 161, 61);">
        <%= message %>
    </h2>
    <h1>
        All Product!!!
    </h1>
    <ul>
        <% for(let farm of farms) { %>
            <li><a href="/farms/<%= farm._id %>">
                    <%= farm.name %>
                </a></li>
            <% } %>
    </ul>
    <section style="display:flex; margin-top: 10px;">
        <form action="/farms/new" style="margin-right: 10px;">
            <button>Create New Farm</button>
        </form>
        <form action="/products">
            <button>All Products</button>
        </form>
    </section>
</body>

</html>